
@font-face {
    font-family: 'Athletics';
    src: url('../../../public/assets/fonts/AthleticsRegular.otf') format('otf'),
         url('../../../public/assets/fonts/AthleticsRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  } 
.informationModalTitle{
color: var(--Soft-brown, #423B37);
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 83.333% */
}
.informationModalDescription{
color: #423B37;
text-align: justify;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 30px */
}
.AthleticsFont{
    font-family: 'Athletics', sans-serif;
    letter-spacing: 0.5px;
  
  }
.contactuslink{
color: #F68A40;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 150%;
text-decoration-line: underline;
cursor: pointer; 
}
.contactuslink:hover{
    color: #F68A40;
 }
  .custom-modal {
    max-width: 800px; /* Adjust the width as needed */
    margin: 0 auto; /* Center the modal horizontally */
  }
  .modal-body{
    padding: 40px 50px 20px 50px !important;

  }
.mainmodalcontinuebutton{
    border-radius: 8px;
  background-color: #423B37;
  border: none;
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 150% */
  }
  
.mainmodalcontinuebutton:focus{
    background-color: #FFD8AB !important;
    color: #000;
  }
.mainmodalcontinuebutton:hover{
    background-color:#FFD8AB;
    color: #000;
  }