.changePasswordSection .OutfitFont{
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
}
.main-panel{
    background-color: #fffaf0;
}
.changePasswordSection .mainbox{
  /* padding: 50px; */
  /* background-color: #fff; */
  width: 846px;
  /* height: 490px; */
  /* box-shadow: 2px 2px 4px 2px #66666614; */
}

@media (min-width: 768px) {
  .changePasswordSection .mainbox {
      padding: 50px;
  }
}
.changePasswordSection .mainbox2{

    padding: 50px;
    background-color: #fff;
    width: 544px;
    min-height: 337px;
    height: auto;
    box-shadow: 2px 2px 4px 2px #66666614;
    margin-bottom: 100px;
    border-top: 6px solid transparent;
    /* border-image: linear-gradient(to right, #F68A40 70%, #FFE7CC 20%) 1; */
    border-image-slice: 1;

}
.changePasswordSection .mainbox h1{
font-size: 35px;
font-weight: 400;
margin-bottom: 35px;
color: #F68A40;

}
.changePasswordSection .mainbox p{

    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    
    }
 .changePasswordSection .mainSubmitButton{
        background-color: #F68A40;
        color: #fff;
        font-weight: 700;
        font-size: 20px;
        border: none;
        border-radius: 8px;
        height: 58px;
    }
   .changePasswordSection .mainSubmitButton:hover{
        background-color: #f68a40d6;
        color: #fff;
        font-weight: 700;
        font-size: 20px;
        border: none;
        border-radius: 8px;
    }
   .changePasswordSection .mainSubmitButton:focus{
        background-color: #f68a40d6;
        color: #fff;
        font-weight: 700;
        font-size: 20px;
        border: none;
        border-radius: 8px;
    } 

    .changePasswordSection .progressbar-wrapper {
        /* background: #fff; */
        width: 100%;
        padding-top: 10px;
        padding-bottom: 5px;
  }
  
  .changePasswordSection .progressbar li {
        list-style-type: none;
        width: 30%;
        /* width: 35%; */
        float: left;
        font-size: 14px;
        font-weight: 500;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        color: #606060;
        line-height: 16.8px;
        text-align: center;
  }
  .changePasswordSection .progressbar li:before {
      width: 60px;
      height: 60px;
      content: "";
      line-height: 60px;
      border: 2px solid #7d7d7d;
      display: block;
      text-align: center;
      margin: 0 auto 3px auto;
      border-radius: 50%;
      position: relative;
      z-index: 2;
      background-color: #fff;
  }
  .changePasswordSection .progressbar li:after {
       width: 100%;
       height: 2px;
       content: '';
       position: absolute;
       background-color: #7d7d7d;
       top: 30px;
       left: -50%;
       z-index: 0;
  }
  .changePasswordSection .progressbar li:first-child:after {
       content: none;
  }
  .changePasswordSection .progressbar li.active {
      color: #000;
      font-weight: bold;  
  }
  .changePasswordSection .progressbar li.active:before {
      border-color: #F68A40;
      background: green;
   }
   .changePasswordSection .progressbar li.active + li:after {
      background-color: #F68A40;
  }
  .changePasswordSection .progressbar li.active:before {
      background: #F68A40  no-repeat center center;
      background-size: 60%;
      
  }
  .changePasswordSection .progressbar li::before {
      background: #DDDDDD  no-repeat center center;
      background-size: 60%;
      border: none;
  }
  .changePasswordSection .progressbar {
      counter-reset: step;
      padding: 0px !important;
  }
  .changePasswordSection .progressbar li:before {
      content: counter(step);
      counter-increment: step; 
      font-size: 18px;
  }
  .changePasswordSection .progressbar li.active:before {
    content: counter(step);
    counter-increment: step; 
    font-size: 18px;
    color: #fff;
}
  .changePasswordSection .progressbar li:before {
    content: counter(step);
    counter-increment: step; 
    font-size: 18px;
}
  .changePasswordSection .mainbox2 .backarrow{
    height: 32px;
    width: 32px;
  }
  .changePasswordSection .mainbox2 label{
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
    color: #000;
  }
  .changePasswordSection .mainbox2 p.description{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 30px;
    color: #000;
  }
  .changePasswordSection .mainbox2 p.anyalltype{
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 30px;
    color: #080717;
  }
  .changePasswordSection .mainbox2 p.description2{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 0px;
    color: #000;
  }
  .changePasswordSection select{
    font-size: 16px;
    font-weight: 400;
    color: #727272;
  }
  .changePasswordSection .mainbox2 .text-muted{
    font-size: 12px;
    font-weight: 400;
     color: #000;
     line-height: 15.12px;
  }
  /* .changePasswordSection .checkboxDiv{
      
    margin-bottom: 0.5rem;

  } */
/* 
 .changePasswordSection input[type="checkbox"] {
    display: none;
} */

/* Style for the custom button */
/* .changePasswordSection .checkbox-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    font-size: 14px !important;
    color: #727272 !important;
    font-weight: 400;
    cursor: pointer;
    width: 100%;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #92929261;
} */

/* Style for the checked button */
/* .changePasswordSection input[type="checkbox"]:checked + label.checkbox-button {
  background-color: #f68a40d6;
  font-size: 14px !important;
  color: #000 !important;
} */


.changePasswordSection .radioDiv{
      
  margin-bottom: 0.5rem;

}

.changePasswordSection .radioDiv input[type="radio"] {
  display: none;
}

/* Style for the custom button */
.changePasswordSection .radioDiv .radio-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fff;
  font-size: 14px !important;
  color: #727272 !important;
  font-weight: 400;
  cursor: pointer;
  width: 100%;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #92929261;
}

/* Style for the selected radio button */
.changePasswordSection .radioDiv input[type="radio"]:checked + label.radio-button {
  background-color: #f68a40d6;
  font-size: 14px !important;
  color: #000 !important;
}

@media screen and (max-width: 768px) {

    .mainbox2{
      padding: 20px !important;
    }
  
   
  }




  .changePasswordSection .inputField {
    position: relative;
  }
  
  .changePasswordSection .inputField input {
    padding: 8px 20px;
    padding-top: 18px;
    /* border: 1.8px solid rgba(107, 107, 107, 0.4); */
    border-radius: 5px;
    /* width: 50%; */
    color: black;
    font-size: 16px;
  }
  
  .changePasswordSection .inputField input:focus {
    border: 1.8px solid #6b6b6b;
    outline: none;
  }
  
  .changePasswordSection .inputField span {
    pointer-events: none;
    opacity: 0.5;
    position: absolute;
    padding-left: 20px !important;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: text;
    font-size: 16px;
    font-weight: 300;
  }
  
  .changePasswordSection .inputField input:focus+span,
  .inputField input:not(:placeholder-shown)+span {
    top: 7px;
    -webkit-transform: scale(0.7) translateY(-10%) translateX(-8.5px);
    transform: scale(0.7) translateY(-10%) translateX(-8.5px);
    padding-left: 12px !important;
  }
  
  .changePasswordSection .inputField  .confirmpasswordfield:focus+span,
  .inputField .confirmpasswordfield:not(:placeholder-shown)+span{
    top: 7px;
    -webkit-transform: scale(0.7) translateY(-10%) translateX(-8.5px);
    transform: scale(0.7) translateY(-10%) translateX(-8.5px);
    padding-left: 4px !important;
  }
  .changePasswordSection .inputField  .createpasswordfield:focus+span,
  .inputField .createpasswordfield:not(:placeholder-shown)+span{
    top: 7px;
    -webkit-transform: scale(0.7) translateY(-10%) translateX(-8.5px);
    transform: scale(0.7) translateY(-10%) translateX(-8.5px);
    padding-left: 4px !important;
  }
  .changePasswordSection .inputField input,
  .inputField span {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  }
.changePasswordSection .inputField input{
    font-size: 16px;
    font-weight: 300;
    height: 54px;
    /* margin-bottom: -12px; */
}


.errors_changePassword{
  color: red;
  font-size: 12px;
}

input.form-control.error-border {
  border: 1px solid #DE002C !important;
}

.red-placeholder {
  color: #ee0533 !important;
}

 
 
 