@font-face {
    font-family: 'Athletics';
    src: url('../../../public/assets/fonts/AthleticsRegular.otf') format('otf'),
         url('../../../public/assets/fonts/AthleticsRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  } 
  @media (min-width: 769px) {
    div.forgotPasswordMaincontainer {
        background-image: url('../../../public/assets/images/mainBackgroundImage/mainbackgroundImage.png');
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: contain;
    }
}
 div.forgotPasswordMaincontainer{
    background-color: #f8f0e7;
    min-height: 100vh;
    height:auto;
   
  }
  div.forgotPasswordMaincontainerRow{
    min-height: 100vh;
    height: auto;
  }

  @media (min-width: 768px) {
    .mainRightDiv {
      padding-top: 0px !important; /* Add your padding for medium screens here */
    }
  }

  
  
  /* CSS for large screens (e.g., desktops and laptops) */
  @media (min-width: 992px) {
    .mainRightDiv {
        padding-top: 0px !important;
        padding-right: 40px;
        padding-left: 40px;
      /* Your styles for large screens here */
    }
  }

  @media (min-width: 500px) and (max-width: 1100px) {
    .forgotPasswordMaincontainer div.mainLeftSideImage{ 
      background-size: cover !important;
      /* Adjust other background properties if needed */
    }
  }
  @media (max-width: 768px) {
    /* Your CSS styles here */
    .forgotPasswordMaincontainer div.mainLeftSideImage{ 
        background-size: cover !important;
        height: 800px; 
        margin-bottom: 20px;
        /* Adjust other background properties if needed */
      }
  }
  .forgotPasswordMaincontainer div.tab-pane{
    background-color: #fff;
    border-radius: 3px;
  }
  .forgotPasswordMaincontainer div.mainLeftSideImage{
            background: url('../../../public/assets/images/loginImages/talathrivelogin.png'); 
            background-size: contain; 
            background-repeat: no-repeat;

        }
       .forgotPasswordMaincontainer div.signupform2{
            padding: 0px;
        }
       .forgotPasswordMaincontainer .full-height {
            height: 100vh;
        }

        .forgotPasswordMaincontainer .bordered-list {
            border: 1px solid #ccc;
            padding: 20px;
            /* border-radius: 10px; */
        }


        .forgotPasswordMaincontainer button.forgotPasswordMainButton{
          
            color: #FFF;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 30px; 
            border: none !important;
            width: 100%;
            height :48px;
            border-radius: 8px;
            background-color: #423B37;
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
            margin-bottom: 28px;
        }
        .forgotPasswordMaincontainer button.forgotPasswordMainButton:hover{
           background-color: #f68a40d6;
        
        }
        .forgotPasswordMaincontainer button.forgotPasswordMainButton:focus{
            background-color: #f68a40 !important;
         
         }

   
.forgotPasswordMaincontainer a.loginlink{
    color: #f68a40;
    text-decoration: none;
}

.forgotPasswordMaincontainer .custom-label {
    text-align: left;
}

.forgotPasswordMaincontainer .full-width-button {
    width: 100%;
}

.forgotPasswordMaincontainer .divider {
    display: flex;
    align-items: center;
    text-align: center;
}

.forgotPasswordMaincontainer .divider::before,
.divider::after {
    content: "";
    flex: 1;
    border-top: 1px solid #ccc;
}

.forgotPasswordMaincontainer .divider span {
    padding: 0 10px;
}
.forgotPasswordMaincontainer label.form-check-label a{
    color: #000 !important;
}
.forgotPasswordMaincontainer .password-toggle {
    position: relative;
}

.forgotPasswordMaincontainer .password-toggle .password-eye {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #707070;
}
.forgotPasswordMaincontainer input.form-control{
    /* height: 60px; */
    height: 48px;
    border-color: #D1C6B9;
    margin-bottom: 29px;
}
.forgotPasswordMaincontainer .loginlinkMobile{
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}
.forgotPasswordMaincontainer .loginlinkMobile a{
    text-decoration: underline;
    color: #f68a40;
    font-size: 14px;
    font-weight: 600;
}
.forgotPasswordMaincontainer .loginlinkDesktop a{
    text-decoration: none;
    color: #f68a40;

}
.forgotPasswordMaincontainer p.mainDescription{
   
color: #423B37;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 0px;
margin-bottom: 26px !important;

}
.forgotPasswordMaincontainer div.inputwidthmanage{
    /* width: 390px; */
  width: 400px;
}
.forgotPasswordMaincontainer div a.forgotpasswordlink{
    float: right;
    margin-bottom: 10px;
    text-decoration: none;
    color: #807d78;

}
.AthleticsFont{
    font-family: 'Athletics', sans-serif;
    letter-spacing: 0.5px;

}
.OutfitFont{
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
}
.forgotPasswordMaincontainer .mainHeading{
    font-size: 30px;
    font-weight: bolder;
    color: #423B37;
    letter-spacing: 0px;
    margin-bottom: 22px !important;
}
.forgotPasswordMaincontainer input{

    font-size: 16px;
    font-weight: 300;
}

/* @media (min-width: 510px) and (max-width: 767px) {
    .forgotPasswordMaincontainer div.mainLeftSideImage{
        background-size: cover !important;
    }
}     */

.errors{
    color: #DE002C;
}
 
input.form-control.error-border {
  border: 1px solid #DE002C;
}

input.form-control.red-placeholder::placeholder {
  color: #DE002C;
}

button[disabled] {
  background-color:  #ccc5bd !important; 
  color: white ;  
  cursor: not-allowed;
}
