@font-face {
    font-family: 'Athletics';
    src: url('../../../../public/assets/fonts/AthleticsRegular.otf') format('otf'),
         url('../../../../public/assets/fonts/AthleticsRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  } 
div.chooosePasswordMaincontainer{
    background-color: #f8f0e7;
    min-height: 100vh;
    height:auto;
    background-image: url('../../../../public/assets/images/mainBackgroundImage/mainbackgroundImage.png');
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: contain;
  }

  @media (min-width: 769px) {
    div.chooosePasswordMaincontainer {
        background-image: url('../../../../public/assets/images/mainBackgroundImage/mainbackgroundImage.png');
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: contain;
    }
}
  div.chooosePasswordMaincontainerRow{
    min-height: 100vh;
    height: auto;
  }

  @media (min-width: 768px) {
    .mainRightDiv {
      padding-top: 0px !important; /* Add your padding for medium screens here */
    }
  }

  
  
  /* CSS for large screens (e.g., desktops and laptops) */
  @media (min-width: 992px) {
    .mainRightDiv {
        padding-top: 0px !important;
        padding-right: 40px;
        padding-left: 40px;
      /* Your styles for large screens here */
    }
  }

  @media (min-width: 500px) and (max-width: 1100px) {
    .chooosePasswordMaincontainer div.mainLeftSideImage{ 
      background-size: cover !important;
      /* Adjust other background properties if needed */
    }
  }
  @media (max-width: 768px) {
    /* Your CSS styles here */
    .chooosePasswordMaincontainer div.mainLeftSideImage{ 
        background-size: cover !important;
        height: 800px; 
        margin-bottom: 20px;
        /* Adjust other background properties if needed */
      }
  }

  .chooosePasswordMaincontainer div.tab-pane{
    background-color: #fff;
    border-radius: 3px;
  }
  .chooosePasswordMaincontainer div.mainLeftSideImage{
            background: url('../../../../public/assets/images/loginImages/talathrivelogin.png'); 
            background-size: contain; 
            background-repeat: no-repeat;

        }
       .chooosePasswordMaincontainer div.signupform2{
            padding: 0px;
        }
       .chooosePasswordMaincontainer .full-height {
            height: 100vh;
        }

        .chooosePasswordMaincontainer .bordered-list {
            border: 1px solid #ccc;
            padding: 20px;
            /* border-radius: 10px; */
        }


        .chooosePasswordMaincontainer button.choosePasswordMainButton{
            width: 100%;
            background-color: #f68a40;
            color: #fff;
           font-weight: 500;
           border: none !important;
        }
        .chooosePasswordMaincontainer button.choosePasswordMainButton:hover{
           background-color: #f68a40d6;
        
        }
        .chooosePasswordMaincontainer button.choosePasswordMainButton:focus{
            background-color: #f68a40 !important;
         
         }

   
.chooosePasswordMaincontainer .loginlink a{
    color: #f68a40;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}

.chooosePasswordMaincontainer .custom-label {
    text-align: left;
}

.chooosePasswordMaincontainer .full-width-button {
    width: 100%;
}

.passwordchangedcontainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.chooosePasswordMaincontainer .divider {
    display: flex;
    align-items: center;
    text-align: center;
}

.chooosePasswordMaincontainer .divider::before,
.divider::after {
    content: "";
    flex: 1;
    border-top: 1px solid #ccc;
}

.chooosePasswordMaincontainer .divider span {
    padding: 0 10px;
}
.chooosePasswordMaincontainer label.form-check-label a{
    color: #000 !important;
}
.chooosePasswordMaincontainer .password-toggle {
    position: relative;
}

.chooosePasswordMaincontainer .password-toggle .password-eye {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #707070;
}
.chooosePasswordMaincontainer input.form-control{
    height: 48px;
    border-color: #fedac0;
}
.chooosePasswordMaincontainer .loginlink{
    text-align: center;
    
}
.chooosePasswordMaincontainer .loginlink a{
    text-decoration: none;
    color: #F68A40;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;

}
.chooosePasswordMaincontainer .loginlinkDesktop a{
    text-decoration: none;
    color: #f68a40;

}
.chooosePasswordMaincontainer p.mainDescription{
    color: #423B37;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.chooosePasswordMaincontainer div.inputwidthmanage{
    width: 390px;
}
.chooosePasswordMaincontainer div a.forgotpasswordlink{
    float: right;
    margin-bottom: 10px;
    text-decoration: none;
    color: #807d78;

}
.chooosePasswordMaincontainer h2.maintitle{
    color: #423B37;
    text-align: center;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0px;
}
.chooosePasswordMaincontainer .container.passwordchangedcontainer{
    /* background-color: #fff; */
    padding: 30px;
    text-align: center;
}

.OutfitFont{
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
}
.AthleticsFont{
    font-family: 'Athletics', sans-serif;
    letter-spacing: 0.5px;

}
 