@font-face {
  font-family: 'Athletics';
  src: url('../../../../public/assets/fonts/AthleticsRegular.otf') format('otf'),
       url('../../../../public/assets/fonts/AthleticsRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} 
.mainBasicInformationSection .OutfitFont{
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
}
.main-panel{
    /* background-color: #fffaf0; */
    background-color: #f8f0e7;
}
.mainBasicInformationSection .mainbox{
  /* padding: 50px; */
  /* background-color: #fff; */
  width: 846px;
  /* height: 490px; */
  /* box-shadow: 2px 2px 4px 2px #66666614; */
}

@media (min-width: 768px) {
  .mainBasicInformationSection .mainbox {
      padding: 50px;
  }
}
/* .mainBasicInformationSection .mainbox2{

    padding: 50px;
    background-color: #fff;
    width: 544px;
    min-height: 337px;
    height: auto;
    box-shadow: 2px 2px 4px 2px #66666614;
    margin-bottom: 100px;
    border-top: 6px solid transparent;
    border-image-slice: 1;

} */
.mainBasicInformationSection .mainbox h1{
font-size: 35px;
font-weight: 400;
margin-bottom: 35px;
color: #F68A40;

}
.mainBasicInformationSection .mainbox p{

    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    
    }
 .mainBasicInformationSection .mainSubmitButton{
        background-color: #F68A40;
        color: #fff;
        font-weight: 700;
        font-size: 20px;
        border: none;
        border-radius: 8px;
        height: 58px;
    }
   .mainBasicInformationSection .mainSubmitButton:hover{
        background-color: #f68a40d6;
        color: #fff;
        font-weight: 700;
        font-size: 20px;
        border: none;
        border-radius: 8px;
    }
   .mainBasicInformationSection .mainSubmitButton:focus{
        background-color: #f68a40d6;
        color: #fff;
        font-weight: 700;
        font-size: 20px;
        border: none;
        border-radius: 8px;
    } 

    .mainBasicInformationSection .progressbar-wrapper {
        /* background: #fff; */
        width: 100%;
        padding-top: 10px;
        padding-bottom: 5px;
  }
  
  .mainBasicInformationSection .progressbar li {
        list-style-type: none;
        width: 30%;
        /* width: 35%; */
        float: left;
        font-size: 14px;
        font-weight: 500;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        color: #606060;
        line-height: 16.8px;
        text-align: center;
  }
  .mainBasicInformationSection .progressbar li:before {
      width: 60px;
      height: 60px;
      content: "";
      line-height: 60px;
      border: 2px solid #7d7d7d;
      display: block;
      text-align: center;
      margin: 0 auto 3px auto;
      border-radius: 50%;
      position: relative;
      z-index: 2;
      background-color: #fff;
  }
  .mainBasicInformationSection .progressbar li:after {
       width: 100%;
       height: 2px;
       content: '';
       position: absolute;
       background-color: #7d7d7d;
       top: 30px;
       left: -50%;
       z-index: 0;
  }
  .mainBasicInformationSection .progressbar li:first-child:after {
       content: none;
  }
  .mainBasicInformationSection .progressbar li.active {
      color: #000;
      font-weight: bold;  
  }
  .mainBasicInformationSection .progressbar li.active:before {
      border-color: #F68A40;
      background: green;
   }
   .mainBasicInformationSection .progressbar li.active + li:after {
      background-color: #F68A40;
  }
  .mainBasicInformationSection .progressbar li.active:before {
      background: #F68A40  no-repeat center center;
      background-size: 60%;
      
  }
  .mainBasicInformationSection .progressbar li::before {
      background: #DDDDDD  no-repeat center center;
      background-size: 60%;
      border: none;
  }
  .mainBasicInformationSection .progressbar {
      counter-reset: step;
      padding: 0px !important;
  }
  .mainBasicInformationSection .progressbar li:before {
      content: counter(step);
      counter-increment: step; 
      font-size: 18px;
  }
  .mainBasicInformationSection .progressbar li.active:before {
    content: counter(step);
    counter-increment: step; 
    font-size: 18px;
    color: #fff;
}
  .mainBasicInformationSection .progressbar li:before {
    content: counter(step);
    counter-increment: step; 
    font-size: 18px;
}
  .mainBasicInformationSection .mainbox2 .backarrow{
    height: 32px;
    width: 32px;
  }
  .mainBasicInformationSection .mainbox2 label{
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
    color: #000;
  }
  .mainBasicInformationSection .mainbox2 p.description{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 30px;
    color: #565656;
    ;
  }
  .mainBasicInformationSection .mainbox2 p.anyalltype{
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 30px;
    color: #080717;
  }
  .mainBasicInformationSection .mainbox2 p.description2{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 0px;
    color: #000;
  }
  .mainBasicInformationSection select{
    font-size: 16px;
    font-weight: 400;
    color: #727272;
  }
  .mainBasicInformationSection .mainbox2 .text-muted{
    font-size: 12px;
    font-weight: 400;
     color: #000;
     line-height: 15.12px;
  }
  /* .mainBasicInformationSection .checkboxDiv{
      
    margin-bottom: 0.5rem;

  } */
/* 
 .mainBasicInformationSection input[type="checkbox"] {
    display: none;
} */

/* Style for the custom button */
/* .mainBasicInformationSection .checkbox-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    font-size: 14px !important;
    color: #727272 !important;
    font-weight: 400;
    cursor: pointer;
    width: 100%;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #92929261;
} */

/* Style for the checked button */
/* .mainBasicInformationSection input[type="checkbox"]:checked + label.checkbox-button {
  background-color: #f68a40d6;
  font-size: 14px !important;
  color: #000 !important;
} */


.mainBasicInformationSection .radioDiv{
      
  margin-bottom: 0.5rem;

}

.mainBasicInformationSection .radioDiv input[type="radio"] {
  display: none;
}

/* Style for the custom button */
.mainBasicInformationSection .radioDiv .radio-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fff;
  font-size: 14px !important;
  color: #727272 !important;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #92929261;


}
.mainBasicInformationSection .radioDiv .radio-button:hover {


  background-color: #E5E5E5;

}

/* Style for the selected radio button */
.mainBasicInformationSection .radioDiv input[type="radio"]:checked + label.radio-button {
  background-color: #FFD8AB;
  font-size: 14px !important;
  color: #000 !important;
}





  .mainBasicInformationSection .inputField {
    position: relative;
  }
  
  .mainBasicInformationSection .inputField input {
    padding: 8px 20px;
    padding-top: 18px;
    /* border: 1.8px solid rgba(107, 107, 107, 0.4); */
    border-radius: 5px;
    /* width: 50%; */
    color: black;
    font-size: 16px;
  }
  
  .mainBasicInformationSection .inputField input:focus {
    border: 1.8px solid #6b6b6b;
    outline: none;
  }
  
  .mainBasicInformationSection .inputField span {
    pointer-events: none;
    opacity: 0.5;
    position: absolute;
    padding-left: 20px !important;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: text;
    font-size: 16px;
    font-weight: 300;
  }
  
  .mainBasicInformationSection .inputField input:focus+span,
  .inputField input:not(:placeholder-shown)+span {
    top: 7px;
    -webkit-transform: scale(0.7) translateY(-10%) translateX(-8.5px);
    transform: scale(0.7) translateY(-10%) translateX(-8.5px);
    padding-left: 12px !important;
  }
  
  .mainBasicInformationSection .inputField  .confirmpasswordfield:focus+span,
  .inputField .confirmpasswordfield:not(:placeholder-shown)+span{
    top: 7px;
    -webkit-transform: scale(0.7) translateY(-10%) translateX(-8.5px);
    transform: scale(0.7) translateY(-10%) translateX(-8.5px);
    padding-left: 4px !important;
  }
  .mainBasicInformationSection .inputField  .createpasswordfield:focus+span,
  .inputField .createpasswordfield:not(:placeholder-shown)+span{
    top: 7px;
    -webkit-transform: scale(0.7) translateY(-10%) translateX(-8.5px);
    transform: scale(0.7) translateY(-10%) translateX(-8.5px);
    padding-left: 4px !important;
  }
  .mainBasicInformationSection .inputField input,
  .inputField span {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  }
.mainBasicInformationSection .inputField input{
    font-size: 16px;
    font-weight: 300;
    height: 54px;
}
.mainBasicInformationSection .mainAppointmentTitle{
font-size: 24px;
font-weight: 500;
}
.mainBasicInformationSection .appointmentMainColumn{
  padding: 20px;
  background-color: #fff;
}
.mainBasicInformationSection .appointmentTable tr th{
font-size: 14px;
font-weight: 400;
background-color: #E9ECEF;
padding-top: 15px;
padding-bottom: 15px;
}
.mainBasicInformationSection .appointmentTable tr td{
  font-size: 14px;
  font-weight: 400;
  /* white-space: normal; */
  
  }

  
/*    
    .mainBasicInformationSection{
      min-height: 650px;
    height: auto;
    } */
    .mainBasicInformationSection .mainBasicInformationSectionRow{
      min-height: 650px;
      height: auto;
    }

    .mainBasicInformationSection .transactionDetailButton{
      font-size: 14px;
      font-weight: 400;
      background-color:#FFFAF0;
      vertical-align: baseline;
      
    }
    .mainBasicInformationSection .transactionDetailButton img{
      width: 18px;
      height: 18px;
      border-radius: 0px;
    }
    /* .mainBasicInformationSection .appointmentDetailButton{
     color: #2FCB82;
     
      
    }

    .mainBasicInformationSection .appointmentStartButton{
      color:  #3F8FF2;
       
     }
    .mainBasicInformationSection .appointmentButton i{
      font-size: 14px;
      
    } */
    .mainBasicInformationSection .tab-content{
      border: none;
    }
    .mainBasicInformationSection  .nav-tabs .nav-item .nav-link.active {
      font-weight: 500;
      color: #000;
      border: 0;
      background-color: transparent !important;
      border-bottom: 3px solid #F68A40;
      font-size: 16px;
    }

    .mainBasicInformationSection .nav-item:focus{
      border: none !important;
    }

    .mainBasicInformationSection .nav-item:hover{
      border: none !important;
    }
    .mainBasicInformationSection ul.nav.nav-tabs{
      border: none;
    }
    .mainBasicInformationSection .nav-tabs .nav-item .nav-link {
      font-weight: 400;
      color: #666666;
      background-color: transparent !important;
      font-size: 16px;

     
    }
    .mainBasicInformationSection .nav-link:hover{
      border: none;

    }
    .mainBasicInformationSection .tab-content{
      padding: 0px;
      min-height: 500px;
      height: auto;
    }
    .mainBasicInformationSection .tab-pane{

      min-height: 500px;
      height: auto;
    } 



    .mainBasicInformationSection .pagination .page-item.active .page-link{
      background-color: #F68A40;
      color: #fff;
    }
    .mainBasicInformationSection .pagination .page-item .page-link:hover{
      background-color: #F68A40;
      color: #fff;
    }
    .mainBasicInformationSection .table-responsive{
      min-height: 500px;
      height: auto;
    }
    @media (max-width: 768px) {
.mainBasicInformationSection .appointmentDetailButton{
  margin-bottom: 10px !important;
}

.mainBasicInformationSection .appointmentTable tr td{
  padding-right: 50px;
}
.mainBasicInformationSection .appointmentTable tr td:nth-child(3) {
      
    
  white-space: normal;
  

}
.mainBasicInformationSection .nav-tabs .nav-item .nav-link {
font-size: 12px;
}
.mainBasicInformationSection .nav-tabs .nav-item .nav-link.active {
  font-size: 12px;
  }
    }
    .mainBasicInformationSection  .heightByContent{
  min-height: 100vh; 
  height: auto;
 }

 .mainBasicInformationSection .button-content {
  display: flex;
  align-items: center;
}

.mainBasicInformationSection .button-image {
  margin-right: 5px; /* Adjust the margin as needed */
}

.mainBasicInformationSection .button-text {
  font-weight: 500; /* Apply your font-weight here */
  color: #F68A40
  ; /* Apply your text color here */
  /* Add other styling properties as needed */
}
.mainBasicInformationSection .datepickerButton{
  border: 1px solid #D3D3D3;
  padding: 11px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 250px;
  width:auto;
  font-size: 14px;
  font-weight: 400;
 border-radius: 4px;
}

/* profile image css for profile update */
div.editProfileImageSection {
  text-align: -webkit-center !important;
  text-align: center;
  padding: 70px;
  /* background: #FFFAF0; */
}
.editProfileImageSection div.profileImageTitle{

  text-align: center;
}




.editProfileImageSection .profileImageFormGroup{
  text-align: center;
  text-align: -webkit-center;
}


.editProfileImageSection .file-upload {
  display: none;
}

.editProfileImageSection .profileName{
font-size: 22px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0px;

}
.editProfileImageSection .editProfileName {
  width: 20px;
  height: 20px; 
  margin-left: 5px; 
}
.circle {
  position: relative;
}

.image-container {
  position: relative;
  overflow: hidden;
  width: 137px;
}

.profile_pic {
  width: 100%;
  border-radius: 50%;
}

.plus-icon-label {
  position: absolute;
  bottom: -5px;
  right: 6px;
  cursor: pointer;
  padding: 5px;
  border-radius: 0 0 10px 0;
}

/* Style the plus icon */
.plus-icon-label img {
  width: 32px; /* Adjust the size as needed */
  height: 32px; /* Adjust the size as needed */
}

.file-upload {
  display: none; /* Hide the file input */
}

.editIconImage{
  height: 32px !important;
  width: 32px !important;
  cursor: pointer;
}
/* profile image css for profile update */

/* profile Bio Section css */
.profileEditingContainer{
max-width: 900px;
width: auto;
box-shadow: 2px 2px 2px 2px #6666660F;
padding: 30px;
margin-top: 18px;
border-radius: 8px;

}
.profileEditingContainer .titleLeft h3{
font-size: 24px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0px;
}

@media screen and (max-width: 768px) {
  .profileEditingContainer .titleLeft h3{
    font-size: 16px !important;
}
.visibilityToggleClass{
  font-size: 16px;
}
}
.profileEditingContainer p{
font-size: 16px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0px;
text-align: left;
color: #7A7A7A;
margin-top: 16px;
}
.profileEditingContainer .profileEditingContainerRow{
  border-bottom: 1px solid #CDD3D4
}
.editImageRight img{
  float: right;
}

/* profile Bio Section css end */


/* profile sexualorientation css start */
.sexualOrientationContainer input.form-check-input{
  display: none;
}
.sexualOrientationContainer i{
  font-size: 24px;
  margin-top: 8px;
  color: #F68A40;
  cursor: pointer;
}
/* profile sexualorientation css end */


/* tag section css start */
.tagMainContainer p{
  background-color: #F8F8FF;
  padding-bottom: 5px;
  /* padding-right: 10px;
  padding-left: 10px; */
  text-align: center;
  padding-top: 5px;
  color: #080717;
  font-size: 18px;
  font-weight: 400;
}
.tagMainContainer span.tagSpan{

  background-color: #F8F8FF;
  padding-bottom: 5px;
  text-align: center;
  padding-top: 5px;
  color: #080717;
  font-size: 18px;
  font-weight: 400;
  padding-left: 15px;
  padding-right: 15px;
}
.tagMainContainer .maintags{
  margin-right: 20px;
  margin-bottom: 10px;
} 


@media screen and (max-width: 768px) {

  .tagMainContainer p{
    padding: 0px !important;
     padding-right: 5px;
     padding-left: 5px;
     font-size: 14px;
  }
  .tagsRow {
    text-align: center;
    justify-content: center;
  }

 
}
/* tag section css end */


/* common css for all models start*/
.submitmodelbutton{
  background-color: #F68A40;
}
.submitmodelbutton:hover{
  background-color: #FFE7CC
  ;
}
.OutfitFont{
  font-family: 'IBM Plex Sans', sans-serif;
  font-family: 'Outfit', sans-serif;
}
.AthleticsFont{
  font-family: 'Athletics', sans-serif;
  letter-spacing: 0.5px;

}
/* common css end for all models */
/* css start for profile name model */


/* css end for profile name model */
/* new css according new dashboard design */

.boxSectionNew {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  max-width: 820px;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
background: #FFF;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
}


.profileInfo {
  text-align: left;
  width: 100%;
}
.profileinforRow{
  width: 100%;

}
.mainRow{
  width: 100%;
}
.heightByContent{
  min-height: 100vh; 
  height: auto;
}
.mainBasicInformationSection .profileName{
  color: #423B37;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
}
.mainBasicInformationSection .profileType{
  color: #565656;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.mainBasicInformationSection .roundedProfileImage{
  height: 86px;
  width: 86px;
}
.mainBasicInformationSection .edit-icon{
  margin-top: -20px;
  margin-left: 10px;
  cursor: pointer;
}
.mainBasicInformationSection .imageSectionContent{
  background-color: #FFD8AB;
  padding: 5px;
  border-radius: 4px;
  display: inline-block;
  color: #505050;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 187.5% */
}
.mainBasicInformationSection .mainBox2RowUp{
  width: 100%;
}
.mainBasicInformationSection .mainBox2ColMd12{
  width: 100%;

}
.mainBasicInformationSection .mainbox2{
  width: 100%;
  padding: 20px 140px 20px 140px;
  text-align: center;
}
.mainBasicInformationSection .boxsectionNew5{
  margin-bottom: 80px;
  border-top: 12px solid;
  border-image: linear-gradient(to right, #FFD8AB 32%, #D1C6B9 20%) 1;
  border-image-slice: 1;
  padding-top: 40px;
  padding-bottom: 32px;
}
.mainBasicInformationSection .mainnextbutton{
  border-radius: 8px;
background-color: #423B37;
border: none;
color: #FFF;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 150% */
width: 220px;
}

.mainBasicInformationSection .mainnextbutton:focus{
  background-color: #f68a40 !important;
}
.mainBasicInformationSection .mainnextbutton:hover{
  background-color:#f68a40;
}
.mainBasicInformationSection .maintitlemain{
  color: #423B37 !important;
font-size: 24px !important;
font-style: normal !important;
font-weight: 700 !important;
line-height: 30px !important; /* 125% */
}
.mainBasicInformationSection .talaThriveInformation{
  color: #423B37;
font-family: Athletics;
font-size: 16px;
font-style: italic;
font-weight: 700;
line-height: normal;
text-decoration-line: underline;
cursor: pointer;
}
.mainBasicInformationSection .talaThriveInformation p{
  margin-bottom: 0px !important;
}
@media screen and (max-width: 768px) {

  .mainBasicInformationSection .mainbox2{
    padding:10px 5px 10px 5px !important;
    
  }
  .mainBasicInformationSection .boxSectionNew{
    padding-left: 5px !important;
    padding-right: 5px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
.mainBasicInformationSection .talaThriveInformation{
  text-align: center !important;
  justify-content: center;
  
}
 
}
/* Add your custom styles here */

/* Center align text at extra small and small screens */

.mainBasicInformationSection .mainContainerHeading{
  color: #423B37;
  font-family: Athletics;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}
.mainBasicInformationSection .mainQuestion{
  color: #423B37;
font-family: Athletics;
font-size: 18px !important;
font-style: normal;
font-weight: 700;
line-height: 30px;
}
.mainBasicInformationSection .mainCountrySelectBox{
  height: 54px;
}
.mainDOBInput{
  height: 54px;
  cursor: pointer;
}
.mainQuestionContainer {
  position: relative;
}

.arrow-icon.goBackIcon {
  position: absolute;
  left: -25px; /* Adjust the left position as needed */
  top: 50%;
  transform: translateY(-50%);
  color: #000; /* Change the color as needed */
  margin-left: -80px;
  margin-top: -40px;
}

.checkbox-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fff;
  font-size: 14px !important;
  color: #727272 !important;
  font-weight: 400;
  cursor: pointer;
  width: 100%;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #92929261;
  height: 45px;
  display: flex;
text-align: center;
justify-content: center;
align-items: center;

}

/* Style for the checked button */
 input[type="checkbox"]:checked + label.checkbox-button {
background-color: #f68a40d6;
font-size: 14px !important;
color: #000 !important;
}
.checkbox-button.selected{
  border-radius: 8px;
  background: var(--primary-40, #FFD8AB);
  color: #000 !important;
}
.checkbox-button:hover{
  background: var(--primary-40, #FFD8AB);
  color: #000 !important;
} 
.checkboxDiv{
      
  margin-bottom: 20px;

}
.viewLessMore{
  border-radius: 8px;
background: #E5E5E5;
height: 45px;
display: flex;
text-align: center;
justify-content: center;
align-items: center;
color: #423B37 !important;
}
.mainQuestionSpan{
  font-size: 12px;
  margin-bottom: 20px;
}
.mainQuestion2{
  margin-bottom: 0px !important;
}

button[disabled] {
  background-color:  #ccc5bd !important; 
  color: white ;  
  cursor: not-allowed;
}